<div class="page-view" id="order_form">

  <div class="view-header">
    <div class="view-wrapper">
      <div class="wrapper-content">
        <div class="group-align-right">
          <button class="button button-white-outline" id="button_cancel" title="Cancel" tabindex="5"><i
            class="fa fa-ban"></i> Cancel
          </button>

          <button class="button button-white-outline action-primary"
                  id="button_save"
                  tabindex="5"
                  (click)="saveRefinementRule()">
            <i class="fa fa-floppy-o"></i>
            Save
          </button>

          <button class="button button-default action-primary"
                  id="button_confirm"
                  tabindex="5"
                  (click)="confirmRefinementRule()"><i
            class="blue-Checked"></i> Confirm
          </button>

          <div class="actions-toolbar toolbar-large toolbar-primary">
            <h2>New Refinement Rule</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="view-content">
    <div class="view-wrapper">
      <div class="wrapper-content">
        <form [formGroup]="newRefinementRule" novalidate autocomplete="off">
          <template #entityTemplate let-le="result" let-le="term">
            {{le.callSign}}
          </template>

          <template #salesPersonTemplate let-sp="result" let-sp="term">
            {{sp.firstName}} {{sp.familyName}}
          </template>

          <ngb-accordion #acc="ngbAccordion" activeIds="create-refinement-rule-general-info-panel, create-refinement-rule-details-panel, create-refinement-rule-assigned-sales-persons-panel">
            <ngb-panel id="create-refinement-rule-general-info-panel">
              <template ngbPanelTitle>
                <span><i class="blue-Info"></i> General info</span>
              </template>
              <template ngbPanelContent>
                <create-refinement-rule-general-info [newRefinementRule]="newRefinementRule"></create-refinement-rule-general-info>
              </template>
            </ngb-panel>

            <ngb-panel id="create-refinement-rule-details-panel">
              <template ngbPanelTitle>
                <span><i class="fa fa-map-marker"></i> Refinement details</span>
              </template>
              <template ngbPanelContent>
                <create-refinement-rule-details [newRefinementRule]="newRefinementRule"></create-refinement-rule-details>
              </template>
            </ngb-panel>

            <ngb-panel id="create-refinement-rule-assigned-sales-persons-panel">
              <template ngbPanelTitle>
                <span><i class="blue-User"></i> Assigned Sales Persons</span>
              </template>
              <template ngbPanelContent>
                <create-refinement-rule-sales-persons [newRefinementRule]="newRefinementRule"></create-refinement-rule-sales-persons>
              </template>
            </ngb-panel>
          </ngb-accordion>
        </form>
      </div>
    </div>
  </div>
</div>
