<!--
<table class="table table-bordered">
      <thead>
      <tr>
        <th># id</th>
        <th>Legal Entity</th>
        <th>Customer</th>
        <th>Period(s)</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rule of rules">
        <th scope="row"><a routerLink="/rule/{{ rule.defaultAssignmentRuleID }}">{{ rule.defaultAssignmentRuleID }}</a></th>
        <td>{{ rule.ravagoEntity.callSign}}</td>
        <td>{{ rule.customer.callSign }}</td>
        <td>
            <table>
            <tr *ngFor="let assignment of rule.assignmentValues">
                <td>{{ assignment.period.startDate}}</td>
                <td> &nbsp; - &nbsp; </td>
                <td> {{ assignment.period.endDate }}</td>
            </tr>
            </table>
        </td>
      </tr>
      </tbody>
</table>
-->

<div class="full-view has-header" id="dashboard">
  <!-- Full-view - Header - start -->
  <div class="view-header">
    <div class="view-wrapper">
      <div class="wrapper-sidebar">
        <!-- Full-view - header-sidebar - start -->
        <!-- Full-view - header-sidebar - end -->
      </div>

      <div class="wrapper-content">
        <!-- Full-view - header-content - start -->
        <h4>
          <span id="filter_draft">SalesRep Assignment Rules</span>
        </h4>
      </div>
    </div>
  </div>
  <!-- Full-view - Header - end -->

  <!-- Full-view - Content - start -->
  <div class="view-content">
    <div class="view-wrapper">
      <div class="wrapper-content">
        <h1>Assignment rules</h1>
      </div>
    </div>
  </div>
</div>
