<div class="application-toolbar">
  <div class="toolbar-left">
    <button class="button button-icon icon-large button-white-outline no-border badge">
      <i class="blue-Menu"></i>
    </button>
    <h1>Commission</h1>
    <div class="button-segmented">
      <button class="button button-icon icon-medium button-white-outline"
              id="button_header_workspace"
              routerLink="">
        <i class="blue-Workspace"></i>
      </button>

      <button class="button button-icon icon-medium button-white-outline"
              id="button_header_search_rules"
              routerLink="/search-assignment-rule">
        <i class="blue-Order-Search"></i>
      </button>

      <button class="button button-icon icon-medium button-white-outline"
              id="button_header_search_assignment"
              routerLink="/search-assignment">
        <i class="fa fa-search"></i>
      </button>

      <button class="button button-icon icon-medium button-white-outline"
              id="button_header_edit_assignment"
              routerLink="/edit-assignment">
        <i class="fa fa-pencil-square-o"></i>
      </button>
    </div>
  </div>

  <div class="toolbar-middle">
  </div>

  <div class="toolbar-right">
    <div class="group-align-right">
      <div class="button-dropdown" uib-dropdown keyboard-nav>
        <button class="button button-icon button-white-outline" uib-dropdown-toggle id="main-toolbar-profile-actions"
                tabindex="1">
          <i class="blue-User"></i>
          <i class="fa fa-caret-down"></i>
        </button>

        <ul uib-dropdown-menu role="menu" aria-labelledby="main-toolbar-profile-actions"
            class="dropdown-menu button-dropdown-menu dropdown-menu-default dropdown-menu-right">
          <li role="menuitem"><a href="#">Log Out</a></li>
        </ul>
      </div>

      <button class="button button-default no-border with-shadow"
              tabindex="1"
              id="button_create_rule"
              routerLink="/create-assignment-rule">
        Create rule
      </button>

      <button class="button button-default no-border with-shadow"
              tabindex="1"
              id="button_create_refinements"
              routerLink="/create-refinement-rule">
        Create refinements
      </button>
    </div>
  </div>
</div>
