<div class="full-view has-header" id="dashboard">
  <!-- Full-view - Header - start -->
  <div class="view-header">
    <div class="view-wrapper">
      <div class="wrapper-sidebar">
        <!-- Full-view - header-sidebar - start -->
        <!-- Full-view - header-sidebar - end -->
      </div>

      <div class="wrapper-content">
        <!-- Full-view - header-content - start -->
        <h4>
          <span id="filter_draft">Page Not Found</span>
        </h4>
      </div>
    </div>
  </div>
  <!-- Full-view - Header - end -->

  <!-- Full-view - Content - start -->
  <div class="view-content">
    <div class="view-wrapper">
      <div class="wrapper-content">
        <h1>Page Not Found</h1>
      </div>
    </div>
  </div>
</div>
