<div class="full-view has-header" id="dashboard">
  <!-- Full-view - Header - start -->
  <div class="view-header">
    <div class="view-wrapper">
      <div class="wrapper-sidebar">

      </div>

      <div class="wrapper-content">
        <h4>
          <span id="filter_draft">Search Assignments</span>
        </h4>
      </div>
    </div>
  </div>

  <template #entityTemplate let-le="result" let-le="term">
    {{le.callSign}}
  </template>

  <template #salesPersonTemplate let-sp="result" let-sp="term">
    {{sp.firstName}} {{sp.familyName}}
  </template>

  <div class="view-content">
    <div class="view-wrapper">
      <div class="wrapper-content">
        <div class="form-set">
          <div class="grid-row grid-gutter gutter-top gutter-bottom">
            <div class="col-m-3">
              <div class="form-field-set">
                <div class="label">
                  <span>Ravago Entity ID</span>
                </div>
                <div class="input">
                  <input id="input-sales-order-id"
                         type="text"
                         class="form-control"
                         [(ngModel)]="ravagoEntityID"/>
                </div>
              </div>
            </div>

            <div class="col-m-2 offset-7">
              <div class="form-field-set">
                <div class="label">

                </div>
                <div class="input">
                  <div class="group-align-right">
                    <button class="button button-primary button-large" (click)="searchAssignments(ravagoEntityID)">
                      Search
                    </button>
                    <button class="button button-primary button-large">Relink</button>
                    <button class="button button-primary button-large">Clear</button>
                  </div>
                </div>
              </div>
            </div>

            <assignments-table [assignmentRules]="assignmentRules"></assignments-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
