<div class="full-view has-header" id="dashboard">
  <!-- Full-view - Header - start -->
  <div class="view-header">
    <div class="view-wrapper">
      <div class="wrapper-sidebar">
        <!-- Full-view - header-sidebar - start -->
        <!-- Full-view - header-sidebar - end -->
      </div>

      <div class="wrapper-content">
        <!-- Full-view - header-content - start -->
        <h4>
          <span id="filter_draft">Search Rules</span>
        </h4>
      </div>
    </div>
  </div>
  <!-- Full-view - Header - end -->

  <!-- Full-view - Content - start -->
  <template #entityTemplate let-le="result" let-le="term">
    {{le.callSign}}
  </template>

  <template #salesPersonTemplate let-sp="result" let-sp="term">
    {{sp.firstName}} {{sp.familyName}}
  </template>

  <div class="view-content">
    <div class="view-wrapper">
      <div class="wrapper-content">

        <div class="form-set">
          <div class="grid-row grid-gutter gutter-top gutter-bottom">
            <div class="col-m-3">
              <div class="form-field-set">
                <div class="label">
                  <span>Legal Entity</span>
                </div>
                <div class="input">
                  <input id="typeahead-search-legal-entity"
                         type="text"
                         class="form-control"
                         [(ngModel)]="model.legalEntity"
                         [ngbTypeahead]="searchLegalEntity"
                         [resultTemplate]="entityTemplate"
                         [inputFormatter]="formatEntity"/>
                </div>
              </div>
            </div>

            <div class="col-m-3">
              <div class="form-field-set">
                <div class="label">
                  <span>Customer</span>
                </div>
                <div class="input">
                  <input id="typeahead-search-customer"
                         type="text"
                         class="form-control"
                         [(ngModel)]="model.customer"
                         [ngbTypeahead]="searchCustomer"
                         [resultTemplate]="entityTemplate"
                         [inputFormatter]="formatEntity"/>
                </div>
              </div>
            </div>


            <div class="col-m-2">
              <div class="form-field-set">
                <div class="label">
                  <span>Sales Person</span>
                </div>
                <div class="input">
                  <input id="typeahead-search-sales-person"
                         type="text"
                         class="form-control"
                         [(ngModel)]="model.salesperson"
                         [ngbTypeahead]="searchSalesPerson"
                         [resultTemplate]="salesPersonTemplate"
                         [inputFormatter]="formatSalesPerson"/>
                </div>
              </div>
            </div>

            <div class="col-m-2">
              <div class="form-field-set">
                <div class="label">
                  <span>Target Date</span>
                </div>
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="model.targetDate" ngbDatepicker
                         #d2="ngbDatepicker" required>
                  <div class="input-group-addon" (click)="d2.toggle()">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-m-2">
              <div class="form-field-set">
                <div class="label">

                </div>
                <div class="input">
                  <div class="group-align-right">
                    <button class="button button-primary button-large" (click)="search()">Apply</button>
                    <button class="button button-primary button-large" (click)="clearAll()">Clear</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Full-view - Content - end -->

<!--
<div class="row">
  <div class="col-md-8">
  <h2>Search Rules</h2>

  <form>
    <div class="form-group">
      <label style="width: 100px" for="le">Legal Entity</label>
      <select style="width: 150px" name="le" id="le" [(ngModel)]="currentLegalEntity">
        <option *ngFor="let entity of entities" [ngValue]="entity">
          {{ entity.reference}} : {{entity.callSign}}
        </option>
      </select>
      <button (click)="addLegalEntity()">Add Legal Entity</button>
      <li *ngFor="let item of model.legalEntity">
        {{ item.reference }} {{ item.callSign }}
      </li>
    </div>
    <div class="form-group">
      <label style="width: 100px" for="customer">Customer</label>
      <select style="width: 150px" name="customer" id="customer" [(ngModel)]="currentCustomer">
        <option *ngFor="let customer of customers" [ngValue]="customer">
          {{customer.callSign}}
        </option>
      </select>
      <button (click)="addCustomer()">Add Customer</button>
      <li *ngFor="let item of model.customer">
        {{ item.reference }} {{ item.callSign }}
      </li>
    </div>
    <div class="form-group">
      <label style="width: 100px" for="customer">Salespersons</label>
      <select  style="width: 150px" name="salesperson" id="salesperson" [(ngModel)]="currentSalesperson">
        <option *ngFor="let salesperson of salespersons" [ngValue]="salesperson">
          {{salesperson.familyName}} {{ salesperson.firstName }}
        </option>
      </select>
      <button (click)="addSalesPerson()">Add SalesPerson</button>
      <li *ngFor="let item of model.salesperson">
        {{ item.reference }} - {{ item.familyName }} - {{ item.firstName }}
      </li>
    </div>
    <div class="form-group">
      <label for="targetdate">TargetDate</label>
      <input type="date" id="targetdate" name="targetdate" [(ngModel)]="currentTargetDate">
      <button (click)="addTargetDate()">Add Date</button>
      {{ model.targetDate }}
    </div>
    <button type="submit" (click)="search()" class="btn btn-default">Search</button>
    <button class="btn btn-danger" (click)="clearAll()">Clear search </button>
  </form>
   </div>
</div>
<div class="row" style="margin-top: 30px;">
  <div class="col-md-12">
      <h2>Search results</h2>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th># id</th>
        <th>Legal Entity</th>
        <th>Customer</th>
        <th>Period(s)</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rule of results">
        <th scope="row"><a routerLink="/rule/{{ rule.defaultAssignmentRuleID }}">{{ rule.defaultAssignmentRuleID }}</a></th>
        <td>{{ rule.ravagoEntity.callSign}}</td>
        <td>{{ rule.customer.callSign }}</td>
        <td>
          <table>
            <tr *ngFor="let assignment of rule.assignmentValues">
              <td>{{ assignment.period.startDate}}</td>
              <td> &nbsp; - &nbsp; </td>
              <td> {{ assignment.period.endDate }}</td>
            </tr>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
-->
